.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-background-color: #f4f6f8;
}

/* Titres */
.label-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

/* Labels */
.label {
    -fx-font-size: 14px;
}

/* Champs texte */
.text-field {
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
}

/* Boutons */
.button {
    -fx-background-radius: 6;
    -fx-font-size: 14px;
    -fx-padding: 8 18;
}

.button-primary {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.button-success {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
}

.button-danger {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}
